# -*- coding: utf-8 -*-
"""
Created on Sat May 18 16:01:17 2024

@author: User
"""

{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username }}<br>
        {{ form.email.label }} {{ form.email }}<br>
        {{ form.password.label }} {{ form.password }}<br>
        {{ form.confirm_password.label }} {{ form.confirm_password }}<br>
        {{ form.submit }}
    </form>
{% endblock %}
