# -*- coding: utf-8 -*-
"""
Created on Sat May 18 16:00:47 2024

@author: User
"""

{% extends "base.html" %}

{% block content %}
    <h1>Profile of {{ user.username }}</h1>
    <img src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}" alt="Profile Picture" style="width: 200px; height: 200px;">
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="profile_picture">
        <button type="submit">Upload Profile Picture</button>
    </form>
    <h2>Your Posts</h2>
    {% for post in user.posts %}
        <div class="post">
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% endblock %}